In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Download data for Math in variable df
df = pd.read_csv('/Users/Air/iCloud Drive (Archive)/Documents/УКУ/fairness-trade-offs-data_preprocessing 3/Odata2021File.csv',delimiter=';')

/var/folders/mr/rk8jvb8d45z63grsh03yvfw40000gn/T/ipykernel_96832/4154784990.py:2: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/Air/iCloud Drive (Archive)/Documents/УКУ/fairness-trade-offs-data_preprocessing 3/Odata2021File.csv',delimiter=';')

In [3]:
df.head()

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,ClassProfileNAME,ClassLangName,...,SpaTest,SpaTestStatus,SpaBall100,SpaBall12,SpaDPALevel,SpaBall,SpaPTName,SpaPTRegName,SpaPTAreaName,SpaPTTerName
0,8a2abef7-625a-4253-8c14-000fe8a856e5,2003,чоловіча,Дніпропетровська область,м.Кам'янське,Дніпровський район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3e975d01-9cc9-4072-bbcd-005b9da75096,2003,чоловіча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,58c926c3-8718-4845-918b-00155b917934,2003,чоловіча,Дніпропетровська область,м.Дніпро,Соборний район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,443f89c2-84e7-4a56-bea3-005c776e0121,2004,жіноча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Біолого-хімічний,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0b7b2e81-a906-412f-ad74-005025fd9d29,2003,жіноча,Івано-Франківська область,Долинський район,м.Долина,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,Birth,UMLBall12,UMLBall,UMLAdaptScale,UkrBall12,UkrBall,UkrAdaptScale,HistBall12,HistBall,MathBall12,...,GeoBall12,GeoBall,EngBall12,EngBall,FraBall12,FraBall,DeuBall12,DeuBall,SpaBall12,SpaBall
count,389323.000000,199829.000000,222248.000000,250681.000000,60962.000000,288837.000000,373963.000000,178526.000000,199373.000000,220216.000000,...,96456.000000,113116.000000,111445.000000,127714.000000,275.000000,414.000000,1212.000000,1825.000000,39.000000,150.000000
mean,2002.788905,6.770729,57.485917,0.013563,6.607805,37.529555,0.020023,7.294697,39.283980,5.319554,...,6.705109,44.719606,7.531141,39.674170,7.523636,42.352657,7.792904,41.213151,8.333333,44.206667
std,3.261747,2.488882,23.705681,0.266844,2.649726,15.217836,0.340236,2.045434,15.366882,2.736655,...,1.983704,14.879026,2.800734,16.758247,2.676333,16.621153,2.628218,17.044834,2.688507,19.995065
min,1951.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,1.000000,0.000000,2.000000,10.000000,1.000000,0.000000,3.000000,9.000000
25%,2003.000000,5.000000,39.000000,0.000000,4.000000,25.000000,0.000000,6.000000,28.000000,3.000000,...,5.000000,34.000000,5.000000,25.000000,5.000000,28.250000,6.000000,26.000000,6.000000,24.250000
50%,2004.000000,7.000000,54.000000,0.000000,6.000000,36.000000,0.000000,7.000000,35.000000,5.000000,...,6.000000,43.000000,8.000000,39.000000,8.000000,44.000000,8.000000,43.000000,8.000000,51.000000
75%,2004.000000,9.000000,75.000000,0.000000,9.000000,49.000000,0.000000,9.000000,46.000000,7.000000,...,8.000000,55.000000,10.000000,54.000000,10.000000,57.000000,10.000000,56.000000,10.000000,61.000000
max,2007.000000,12.000000,116.000000,7.000000,12.000000,74.000000,7.000000,12.000000,94.000000,12.000000,...,12.000000,89.000000,12.000000,72.000000,12.000000,71.000000,12.000000,71.000000,12.000000,72.000000

In [5]:
for col in df.columns:
    print(col)

OUTID
Birth
SexTypeName
RegName
AREANAME
TERNAME
RegTypeName
TerTypeName
ClassProfileNAME
ClassLangName
EONAME
EOTypeName
EORegName
EOAreaName
EOTerName
EOParent
UMLTest
UMLTestStatus
UMLBall100
UMLBall12
UMLBall
UMLAdaptScale
UMLPTName
UMLPTRegName
UMLPTAreaName
UMLPTTerName
UkrTest
UkrSubTest
UkrTestStatus
UkrBall100
UkrBall12
UkrBall
UkrAdaptScale
UkrPTName
UkrPTRegName
UkrPTAreaName
UkrPTTerName
HistTest
HistLang
HistTestStatus
HistBall100
HistBall12
HistBall
HistPTName
HistPTRegName
HistPTAreaName
HistPTTerName
MathTest
MathLang
MathTestStatus
MathBall100
MathBall12
MathDpaLevel
MathBall
MathPTName
MathPTRegName
MathPTAreaName
MathPTTerName
MathStTest
MathStLang
MathStTestStatus
MathStBall12
MathStBall
MathStPTName
MathStPTRegName
MathStPTAreaName
MathStPTTerName
PhysTest
PhysLang
PhysTestStatus
PhysBall100
PhysBall12
PhysBall
PhysPTName
PhysPTRegName
PhysPTAreaName
PhysPTTerName
ChemTest
ChemLang
ChemTestStatus
ChemBall100
ChemBall12
ChemBall
ChemPTName
ChemPTRegName
ChemPTAreaName
ChemPTTerName
BioTest
BioLang
BioTestStatus
BioBall100
BioBall12
BioBall
BioPTName
BioPTRegName
BioPTAreaName
BioPTTerName
GeoTest
GeoLang
GeoTestStatus
GeoBall100
GeoBall12
GeoBall
GeoPTName
GeoPTRegName
GeoPTAreaName
GeoPTTerName
EngTest
EngTestStatus
EngBall100
EngBall12
EngDPALevel
EngBall
EngPTName
EngPTRegName
EngPTAreaName
EngPTTerName
FraTest
FraTestStatus
FraBall100
FraBall12
FraDPALevel
FraBall
FraPTName
FraPTRegName
FraPTAreaName
FraPTTerName
DeuTest
DeuTestStatus
DeuBall100
DeuBall12
DeuDPALevel
DeuBall
DeuPTName
DeuPTRegName
DeuPTAreaName
DeuPTTerName
SpaTest
SpaTestStatus
SpaBall100
SpaBall12
SpaDPALevel
SpaBall
SpaPTName
SpaPTRegName
SpaPTAreaName
SpaPTTerName

In [6]:
list = ['Ukr', 'Hist', 'Math', 'Phys', 'Chem', 'Bio', 'Geo', 'Eng', 'Fra', 'Deu', 'Spa']

In [7]:
for subject in list:
    print(pd.pivot_table(df, values=subject+'Ball', index=[subject+'TestStatus'] ,  aggfunc=[np.size, "count", min, max, np.median, np.mean]))

                     size   count     min     max  median       mean
                  UkrBall UkrBall UkrBall UkrBall UkrBall    UkrBall
UkrTestStatus
Анульовано             93       0     NaN     NaN     NaN        NaN
Зараховано         267635  267635    10.0    74.0    38.0  39.461842
Не з’явився         83321       0     NaN     NaN     NaN        NaN
Не обрано 100-200    1712       0     NaN     NaN     NaN        NaN
Не подолав поріг    21202   21202     0.0    16.0    14.0  13.138100
                      size    count      min      max   median       mean
                  HistBall HistBall HistBall HistBall HistBall   HistBall
HistTestStatus
Анульовано              59        0      NaN      NaN      NaN        NaN
Зараховано          163532   163532     27.0     94.0     38.0  42.918591
Не з’явився          95834        0      NaN      NaN      NaN        NaN
Не обрано 100-200     3706        0      NaN      NaN      NaN        NaN
Не подолав поріг     35841    35841      0.0     26.0     23.0  22.700315
                      size    count      min      max   median       mean
                  MathBall MathBall MathBall MathBall MathBall   MathBall
MathTestStatus
Анульовано             208        0      NaN      NaN      NaN        NaN
Зараховано          168369   168369     10.0     67.0     22.0  25.433417
Не з’явився          47247        0      NaN      NaN      NaN        NaN
Не обрано 100-200      132        0      NaN      NaN      NaN        NaN
Не подолав поріг     75833    75833      0.0      9.0      7.0   6.664777
                      size    count      min      max   median       mean
                  PhysBall PhysBall PhysBall PhysBall PhysBall   PhysBall
PhysTestStatus
Анульовано               6        0      NaN      NaN      NaN        NaN
Зараховано           21275    21275     12.0     64.0     22.0  25.735605
Не з’явився           8683        0      NaN      NaN      NaN        NaN
Не обрано 100-200      199        0      NaN      NaN      NaN        NaN
Не подолав поріг      1927     1927      0.0     11.0      9.0   9.099118
                      size    count      min      max   median       mean
                  ChemBall ChemBall ChemBall ChemBall ChemBall   ChemBall
ChemTestStatus
Анульовано               5        0      NaN      NaN      NaN        NaN
Зараховано            8760     8760     14.0     74.0     31.0  34.003196
Не з’явився           2855        0      NaN      NaN      NaN        NaN
Не обрано 100-200       75        0      NaN      NaN      NaN        NaN
Не подолав поріг      1049     1049      2.0     13.0     11.0  10.863680
                     size   count     min     max  median       mean
                  BioBall BioBall BioBall BioBall BioBall    BioBall
BioTestStatus
Анульовано             19       0     NaN     NaN     NaN        NaN
Зараховано          79514   79514    22.0    82.0    41.0  43.084501
Не з’явився         44348       0     NaN     NaN     NaN        NaN
Не обрано 100-200    1423       0     NaN     NaN     NaN        NaN
Не подолав поріг     1898    1898     0.0    21.0    19.0  18.418862
                     size   count     min     max  median       mean
                  GeoBall GeoBall GeoBall GeoBall GeoBall    GeoBall
GeoTestStatus
Анульовано             16       0     NaN     NaN     NaN        NaN
Зараховано         107045  107045    24.0    89.0    44.0  46.140969
Не з’явився         59511       0     NaN     NaN     NaN        NaN
Не обрано 100-200    2784       0     NaN     NaN     NaN        NaN
Не подолав поріг     6071    6071     0.0    23.0    21.0  19.657882
                     size   count     min     max  median       mean
                  EngBall EngBall EngBall EngBall EngBall    EngBall
EngTestStatus
Анульовано            103       0     NaN     NaN     NaN        NaN
Зараховано         114139  114139    18.0    72.0    43.0  42.694443
Не з’явився         17440       0     NaN     NaN     NaN        NaN
Не обрано 100-200    1109       0     NaN     NaN     NaN        NaN
Не подолав поріг    13575   13575     0.0    17.0    15.0  14.279632
                     size   count     min     max  median       mean
                  FraBall FraBall FraBall FraBall FraBall    FraBall
FraTestStatus
Зараховано            377     377    18.0    71.0    47.0  45.137931
Не з’явився           142       0     NaN     NaN     NaN        NaN
Не обрано 100-200       5       0     NaN     NaN     NaN        NaN
Не подолав поріг       37      37    10.0    17.0    15.0  13.972973
                     size   count     min     max  median       mean
                  DeuBall DeuBall DeuBall DeuBall DeuBall    DeuBall
DeuTestStatus
Анульовано              2       0     NaN     NaN     NaN        NaN
Зараховано           1617    1617    18.0    71.0    46.0  44.700680
Не з’явився           557       0     NaN     NaN     NaN        NaN
Не обрано 100-200      34       0     NaN     NaN     NaN        NaN
Не подолав поріг      208     208     0.0    17.0    14.0  14.100962
                     size   count     min     max  median       mean
                  SpaBall SpaBall SpaBall SpaBall SpaBall    SpaBall
SpaTestStatus
Анульовано              2       0     NaN     NaN     NaN        NaN
Зараховано            127     127    18.0    72.0    54.0  49.803150
Не з’явився            71       0     NaN     NaN     NaN        NaN
Не обрано 100-200       1       0     NaN     NaN     NaN        NaN
Не подолав поріг       23      23     9.0    17.0    14.0  13.304348

In [8]:
dataframes = [0]*len(list)
for i, subject in enumerate(list):
    dataframes[i]=df[df[subject+'TestStatus'].notnull()]

In [9]:
for i, subject in enumerate(list):
    dataframes[i] = dataframes[i][dataframes[i][subject+'TestStatus'] != 'Не з’явився']
    dataframes[i] = dataframes[i][dataframes[i][subject+'TestStatus'] != 'Не обрано 100-200']
    dataframes[i] = dataframes[i][dataframes[i][subject+'TestStatus'] != 'Анульовано']

In [10]:
for i, subject in enumerate(list):
    print(pd.pivot_table(dataframes[i], values=subject+'Ball', index=[subject+'TestStatus'] ,  aggfunc=[np.size, "count", min, max, np.median, np.mean]))

                    size   count     min     max  median       mean
                 UkrBall UkrBall UkrBall UkrBall UkrBall    UkrBall
UkrTestStatus
Зараховано        267635  267635    10.0    74.0    38.0  39.461842
Не подолав поріг   21202   21202     0.0    16.0    14.0  13.138100
                     size    count      min      max   median       mean
                 HistBall HistBall HistBall HistBall HistBall   HistBall
HistTestStatus
Зараховано         163532   163532     27.0     94.0     38.0  42.918591
Не подолав поріг    35841    35841      0.0     26.0     23.0  22.700315
                     size    count      min      max   median       mean
                 MathBall MathBall MathBall MathBall MathBall   MathBall
MathTestStatus
Зараховано         168369   168369     10.0     67.0     22.0  25.433417
Не подолав поріг    75833    75833      0.0      9.0      7.0   6.664777
                     size    count      min      max   median       mean
                 PhysBall PhysBall PhysBall PhysBall PhysBall   PhysBall
PhysTestStatus
Зараховано          21275    21275     12.0     64.0     22.0  25.735605
Не подолав поріг     1927     1927      0.0     11.0      9.0   9.099118
                     size    count      min      max   median       mean
                 ChemBall ChemBall ChemBall ChemBall ChemBall   ChemBall
ChemTestStatus
Зараховано           8760     8760     14.0     74.0     31.0  34.003196
Не подолав поріг     1049     1049      2.0     13.0     11.0  10.863680
                    size   count     min     max  median       mean
                 BioBall BioBall BioBall BioBall BioBall    BioBall
BioTestStatus
Зараховано         79514   79514    22.0    82.0    41.0  43.084501
Не подолав поріг    1898    1898     0.0    21.0    19.0  18.418862
                    size   count     min     max  median       mean
                 GeoBall GeoBall GeoBall GeoBall GeoBall    GeoBall
GeoTestStatus
Зараховано        107045  107045    24.0    89.0    44.0  46.140969
Не подолав поріг    6071    6071     0.0    23.0    21.0  19.657882
                    size   count     min     max  median       mean
                 EngBall EngBall EngBall EngBall EngBall    EngBall
EngTestStatus
Зараховано        114139  114139    18.0    72.0    43.0  42.694443
Не подолав поріг   13575   13575     0.0    17.0    15.0  14.279632
                    size   count     min     max  median       mean
                 FraBall FraBall FraBall FraBall FraBall    FraBall
FraTestStatus
Зараховано           377     377    18.0    71.0    47.0  45.137931
Не подолав поріг      37      37    10.0    17.0    15.0  13.972973
                    size   count     min     max  median       mean
                 DeuBall DeuBall DeuBall DeuBall DeuBall    DeuBall
DeuTestStatus
Зараховано          1617    1617    18.0    71.0    46.0  44.700680
Не подолав поріг     208     208     0.0    17.0    14.0  14.100962
                    size   count     min     max  median       mean
                 SpaBall SpaBall SpaBall SpaBall SpaBall    SpaBall
SpaTestStatus
Зараховано           127     127    18.0    72.0    54.0  49.803150
Не подолав поріг      23      23     9.0    17.0    14.0  13.304348

In [11]:
for i, subject in enumerate(list):
    dataframes[i]['SexTypeName'] = df['SexTypeName'].map({'чоловіча':1,'жіноча':0})
    dataframes[i]['TerTypeName'] = df['TerTypeName'].map({'місто':1,'селище, село':0, 'селище міського типу':0})
    dataframes[i][subject+'TestStatus'] = df[subject+'TestStatus'].map({'Зараховано':0, 'Не подолав поріг':1})

In [12]:
for i, subject in enumerate(list):
    print(pd.pivot_table(dataframes[i], values=subject+'Ball', index=[subject+'TestStatus'] ,  aggfunc=[np.size, "count", min, max, np.median, np.mean]))

                 size   count     min     max  median       mean
              UkrBall UkrBall UkrBall UkrBall UkrBall    UkrBall
UkrTestStatus
0.0            267635  267635    10.0    74.0    38.0  39.461842
1.0             21202   21202     0.0    16.0    14.0  13.138100
                   size    count      min      max   median       mean
               HistBall HistBall HistBall HistBall HistBall   HistBall
HistTestStatus
0.0              163532   163532     27.0     94.0     38.0  42.918591
1.0               35841    35841      0.0     26.0     23.0  22.700315
                   size    count      min      max   median       mean
               MathBall MathBall MathBall MathBall MathBall   MathBall
MathTestStatus
0.0              168369   168369     10.0     67.0     22.0  25.433417
1.0               75833    75833      0.0      9.0      7.0   6.664777
                   size    count      min      max   median       mean
               PhysBall PhysBall PhysBall PhysBall PhysBall   PhysBall
PhysTestStatus
0.0               21275    21275     12.0     64.0     22.0  25.735605
1.0                1927     1927      0.0     11.0      9.0   9.099118
                   size    count      min      max   median       mean
               ChemBall ChemBall ChemBall ChemBall ChemBall   ChemBall
ChemTestStatus
0.0                8760     8760     14.0     74.0     31.0  34.003196
1.0                1049     1049      2.0     13.0     11.0  10.863680
                 size   count     min     max  median       mean
              BioBall BioBall BioBall BioBall BioBall    BioBall
BioTestStatus
0.0             79514   79514    22.0    82.0    41.0  43.084501
1.0              1898    1898     0.0    21.0    19.0  18.418862
                 size   count     min     max  median       mean
              GeoBall GeoBall GeoBall GeoBall GeoBall    GeoBall
GeoTestStatus
0.0            107045  107045    24.0    89.0    44.0  46.140969
1.0              6071    6071     0.0    23.0    21.0  19.657882
                 size   count     min     max  median       mean
              EngBall EngBall EngBall EngBall EngBall    EngBall
EngTestStatus
0.0            114139  114139    18.0    72.0    43.0  42.694443
1.0             13575   13575     0.0    17.0    15.0  14.279632
                 size   count     min     max  median       mean
              FraBall FraBall FraBall FraBall FraBall    FraBall
FraTestStatus
0.0               377     377    18.0    71.0    47.0  45.137931
1.0                37      37    10.0    17.0    15.0  13.972973
                 size   count     min     max  median       mean
              DeuBall DeuBall DeuBall DeuBall DeuBall    DeuBall
DeuTestStatus
0.0              1617    1617    18.0    71.0    46.0  44.700680
1.0               208     208     0.0    17.0    14.0  14.100962
                 size   count     min     max  median       mean
              SpaBall SpaBall SpaBall SpaBall SpaBall    SpaBall
SpaTestStatus
0.0               127     127    18.0    72.0    54.0  49.803150
1.0                23      23     9.0    17.0    14.0  13.304348

In [13]:
for i, subject in enumerate(list):
    dataframes[i]['Age'] = 2021-dataframes[i].Birth

In [14]:
for i, subject in enumerate(list):
    print(pd.pivot_table(dataframes[i], values='Birth', index=[subject+'TestStatus', 'SexTypeName'] ,  aggfunc=[np.size]))

                             size
                            Birth
UkrTestStatus SexTypeName
0.0           0            143717
              1            123918
1.0           0              6391
              1             14811
                             size
                            Birth
HistTestStatus SexTypeName
0.0            0            92712
               1            70820
1.0            0            15635
               1            20206
                             size
                            Birth
MathTestStatus SexTypeName
0.0            0            82127
               1            86242
1.0            0            36756
               1            39077
                             size
                            Birth
PhysTestStatus SexTypeName
0.0            0             3032
               1            18243
1.0            0              361
               1             1566
                            size
                           Birth
ChemTestStatus SexTypeName
0.0            0            5522
               1            3238
1.0            0             695
               1             354
                            size
                           Birth
BioTestStatus SexTypeName
0.0           0            51245
              1            28269
1.0           0              757
              1             1141
                            size
                           Birth
GeoTestStatus SexTypeName
0.0           0            52229
              1            54816
1.0           0             2339
              1             3732
                            size
                           Birth
EngTestStatus SexTypeName
0.0           0            58704
              1            55435
1.0           0             6174
              1             7401
                           size
                          Birth
FraTestStatus SexTypeName
0.0           0             287
              1              90
1.0           0              28
              1               9
                           size
                          Birth
DeuTestStatus SexTypeName
0.0           0            1077
              1             540
1.0           0             121
              1              87
                           size
                          Birth
SpaTestStatus SexTypeName
0.0           0              91
              1              36
1.0           0              20
              1               3

In [15]:
for i, subject in enumerate(list):
    print(pd.pivot_table(dataframes[i], values='Birth', index=[subject+'TestStatus', 'TerTypeName'] ,  aggfunc=[np.size]))

                             size
                            Birth
UkrTestStatus TerTypeName
0.0           0             65590
              1            202045
1.0           0              7593
              1             13609
                              size
                             Birth
HistTestStatus TerTypeName
0.0            0             47224
               1            116308
1.0            0             11964
               1             23877
                              size
                             Birth
MathTestStatus TerTypeName
0.0            0             36988
               1            131381
1.0            0             24404
               1             51429
                             size
                            Birth
PhysTestStatus TerTypeName
0.0            0             4985
               1            16290
1.0            0              687
               1             1240
                            size
                           Birth
ChemTestStatus TerTypeName
0.0            0            1846
               1            6914
1.0            0             342
               1             707
                            size
                           Birth
BioTestStatus TerTypeName
0.0           0            27053
              1            52461
1.0           0              737
              1             1161
                            size
                           Birth
GeoTestStatus TerTypeName
0.0           0            29047
              1            77998
1.0           0             2001
              1             4070
                            size
                           Birth
EngTestStatus TerTypeName
0.0           0            16229
              1            97910
1.0           0             3343
              1            10232
                           size
                          Birth
FraTestStatus TerTypeName
0.0           0              55
              1             322
1.0           0              12
              1              25
                           size
                          Birth
DeuTestStatus TerTypeName
0.0           0             201
              1            1416
1.0           0              75
              1             133
                           size
                          Birth
SpaTestStatus TerTypeName
0.0           0              17
              1             110
1.0           0               5
              1              18

In [16]:
def categorise(row):  
    if row['SexTypeName'] == 0 and row['TerTypeName'] == 0:
        return 0
    if row['SexTypeName'] == 1 and row['TerTypeName'] == 0:
        return 1
    if row['SexTypeName'] == 0  and row['TerTypeName'] == 1:
        return 2
    return 3

In [17]:
for i, subject in enumerate(list):
    dataframes[i]['SexTer'] = dataframes[i].apply(lambda row: categorise(row), axis=1)

In [18]:
dataframes[9]

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,ClassProfileNAME,ClassLangName,...,SpaBall100,SpaBall12,SpaDPALevel,SpaBall,SpaPTName,SpaPTRegName,SpaPTAreaName,SpaPTTerName,Age,SexTer
54,effd0c8a-91af-4229-b42c-00129ec5c370,2003,0,Одеська область,Одеська область,м.Білгород-Дністровський,Випускник минулих років,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,2
134,4e0a833b-40ea-462e-8194-000c2c03c430,2004,0,Дніпропетровська область,м.Кривий Ріг,Центрально-Міський район міста,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2
779,b8fbb5f1-ce45-4b5a-9023-007b84c5b9e8,2003,0,Чернігівська область,Чернігівська область,м.Ніжин,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,2
1157,c4c90c69-ad73-42cb-859f-01afc3312ae3,2004,1,Харківська область,м.Харків,Київський район міста,Студент закладу вищої освіти,1,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,3
1244,6ace051a-c0ce-42b6-bc7d-017a86cefed4,2004,0,Одеська область,Одеська область,м.Ізмаїл,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387890,21c6dd0b-7a11-45a5-955d-f457e11f7e75,2002,1,м.Київ,м.Київ,Солом'янський район міста,Випускник минулих років,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,3
388328,c7526ae0-e7ad-415a-9ac5-f577cc38b01b,2003,0,Одеська область,Одеська область,м.Ізмаїл,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,2
388337,27babfcd-5dc3-45a3-b42b-fc89e0a21ddd,2004,0,м.Київ,м.Київ,Дніпровський район міста,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2
389081,fea1d6bd-c19d-4be9-9026-ffd303a2c418,2004,1,м.Київ,м.Київ,Солом'янський район міста,Випускник загальноосвітнього навчального закла...,1,Іноземної філології,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,3
389145,24b5d6bd-0505-40a5-93d5-fc9b421e1a2e,2004,0,Одеська область,м.Одеса,Приморський район міста,Студент закладу вищої освіти,1,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,2

In [19]:
for i, subject in enumerate(list):
    dataframes[i].to_csv('ZNO_'+subject+'.csv')

In [23]:
result = []


print(result)
result += ['Name	Target	Protected	Number_of_records	distribution_in_groups	overall_prev	prev_(for_all_categories)	prev_diff'.split()]
for i, subject in enumerate(list):
    Name = 'ZNO_'+subject+'.csv'
    Target = subject+'TestStatus'
    Protected = ['SexTypeName', 'TerTypeName', 'SexTer']
    Number_of_records = len(dataframes[i])
    overall_prev = round(len(dataframes[i][dataframes[i][subject+'TestStatus'] == 1]) / len(dataframes[i]),3)

    for cat in Protected:
        distribution_in_groups = str(round((len(dataframes[i][dataframes[i][cat] == 1]))/Number_of_records *100))+'% '+':'+str(round((len(dataframes[i][dataframes[i][cat] == 0]))/Number_of_records *100)) +'% '
        
        prev_for_all_categories = str(round(len(dataframes[i][(dataframes[i][cat] == 1) &(dataframes[i][subject+'TestStatus'] == 1)]) / len(dataframes[i][dataframes[i][cat] == 1]),3))+':'+str(round(len(dataframes[i][(dataframes[i][cat] == 0) &(dataframes[i][subject+'TestStatus'] == 1)]) / len(dataframes[i][dataframes[i][cat] == 0]),3))
        
        prev_diff = abs(round(len(dataframes[i][(dataframes[i][cat] == 1) &(dataframes[i][subject+'TestStatus'] == 1)]) / len(dataframes[i][dataframes[i][cat] == 1])-len(dataframes[i][(dataframes[i][cat] == 0) &(dataframes[i][subject+'TestStatus'] == 1)]) / len(dataframes[i][dataframes[i][cat] == 0]),3))
        
        if cat != 'SexTer':
            result += [[Name , Target , cat, Number_of_records, distribution_in_groups , overall_prev , prev_for_all_categories, prev_diff ]]
        else:
            prev_diff_list =[0, 0, 0, 0]
            
            for j in range(4):
                prev_diff_list[j] = round(len(dataframes[i][(dataframes[i][cat] == j) &(dataframes[i][subject+'TestStatus'] == 1)]) / len(dataframes[i][dataframes[i][cat] == j]),3)
                
            distribution_in_groups = str(round((len(dataframes[i][dataframes[i][cat] == 3]))/Number_of_records *100))+'% '+':'+str(round((len(dataframes[i][dataframes[i][cat] == 2]))/Number_of_records *100)) +'% '+':'+str(round((len(dataframes[i][dataframes[i][cat] == 1]))/Number_of_records *100))+'% '+':'+str(round((len(dataframes[i][dataframes[i][cat] == 0]))/Number_of_records *100)) +'% '
        
            prev_for_all_categories = \
                str(prev_diff_list[3])+':'+\
                str(prev_diff_list[2])+':'+\
                str(prev_diff_list[1])+':'+\
                str(prev_diff_list[0])
            
            max_inter = max(prev_diff_list[3], prev_diff_list[2], prev_diff_list[1], prev_diff_list[0])
            min_inter = min(prev_diff_list[3], prev_diff_list[2], prev_diff_list[1], prev_diff_list[0])
            
            prev_diff = round(max_inter - min_inter,3)
            
            result += [[Name , Target , cat, Number_of_records, distribution_in_groups , overall_prev , prev_for_all_categories, prev_diff ]]
    
    
    # result += [[Name, Target, 'SexTer', len(dataframes[i]), str(len(dataframes[i][dataframes[i]['SexTer'] == 3]))+':'+str(len(dataframes[i][dataframes[i]['SexTer'] == 2]))+':'+str(len(dataframes[i][dataframes[i]['SexTer'] == 1]))+':'+str(len(dataframes[i][dataframes[i]['SexTer'] == 0]))], round(len(dataframes[i][dataframes[i][subject+'TestStatus'] == 1]) / len(dataframes[i]),3)]
print(result)

[]
[['Name', 'Target', 'Protected', 'Number_of_records', 'distribution_in_groups', 'overall_prev', 'prev_(for_all_categories)', 'prev_diff'], ['ZNO_Ukr.csv', 'UkrTestStatus', 'SexTypeName', 288837, '48% :52% ', 0.073, '0.107:0.043', 0.064], ['ZNO_Ukr.csv', 'UkrTestStatus', 'TerTypeName', 288837, '75% :25% ', 0.073, '0.063:0.104', 0.041], ['ZNO_Ukr.csv', 'UkrTestStatus', 'SexTer', 288837, '37% :38% :11% :14% ', 0.073, '0.091:0.036:0.156:0.061', 0.12], ['ZNO_Hist.csv', 'HistTestStatus', 'SexTypeName', 199373, '46% :54% ', 0.18, '0.222:0.144', 0.078], ['ZNO_Hist.csv', 'HistTestStatus', 'TerTypeName', 199373, '70% :30% ', 0.18, '0.17:0.202', 0.032], ['ZNO_Hist.csv', 'HistTestStatus', 'SexTer', 199373, '33% :38% :13% :17% ', 0.18, '0.209:0.137:0.254:0.162', 0.117], ['ZNO_Math.csv', 'MathTestStatus', 'SexTypeName', 244202, '51% :49% ', 0.311, '0.312:0.309', 0.003], ['ZNO_Math.csv', 'MathTestStatus', 'TerTypeName', 244202, '75% :25% ', 0.311, '0.281:0.398', 0.116], ['ZNO_Math.csv', 'MathTestStatus', 'SexTer', 244202, '39% :36% :12% :13% ', 0.311, '0.283:0.279:0.406:0.39', 0.127], ['ZNO_Phys.csv', 'PhysTestStatus', 'SexTypeName', 23202, '85% :15% ', 0.083, '0.079:0.106', 0.027], ['ZNO_Phys.csv', 'PhysTestStatus', 'TerTypeName', 23202, '76% :24% ', 0.083, '0.071:0.121', 0.05], ['ZNO_Phys.csv', 'PhysTestStatus', 'SexTer', 23202, '64% :11% :21% :3% ', 0.083, '0.067:0.091:0.115:0.16', 0.093], ['ZNO_Chem.csv', 'ChemTestStatus', 'SexTypeName', 9809, '37% :63% ', 0.107, '0.099:0.112', 0.013], ['ZNO_Chem.csv', 'ChemTestStatus', 'TerTypeName', 9809, '78% :22% ', 0.107, '0.093:0.156', 0.064], ['ZNO_Chem.csv', 'ChemTestStatus', 'SexTer', 9809, '30% :48% :7% :15% ', 0.107, '0.091:0.094:0.131:0.168', 0.077], ['ZNO_Bio.csv', 'BioTestStatus', 'SexTypeName', 81412, '36% :64% ', 0.023, '0.039:0.015', 0.024], ['ZNO_Bio.csv', 'BioTestStatus', 'TerTypeName', 81412, '66% :34% ', 0.023, '0.022:0.027', 0.005], ['ZNO_Bio.csv', 'BioTestStatus', 'SexTer', 81412, '24% :42% :12% :22% ', 0.023, '0.036:0.013:0.045:0.017', 0.032], ['ZNO_Geo.csv', 'GeoTestStatus', 'SexTypeName', 113116, '52% :48% ', 0.054, '0.064:0.043', 0.021], ['ZNO_Geo.csv', 'GeoTestStatus', 'TerTypeName', 113116, '73% :27% ', 0.054, '0.05:0.064', 0.015], ['ZNO_Geo.csv', 'GeoTestStatus', 'SexTer', 113116, '39% :34% :13% :14% ', 0.054, '0.058:0.04:0.08:0.05', 0.04], ['ZNO_Eng.csv', 'EngTestStatus', 'SexTypeName', 127714, '49% :51% ', 0.106, '0.118:0.095', 0.023], ['ZNO_Eng.csv', 'EngTestStatus', 'TerTypeName', 127714, '85% :15% ', 0.106, '0.095:0.171', 0.076], ['ZNO_Eng.csv', 'EngTestStatus', 'SexTer', 127714, '42% :42% :7% :9% ', 0.106, '0.107:0.082:0.184:0.16', 0.102], ['ZNO_Fra.csv', 'FraTestStatus', 'SexTypeName', 414, '24% :76% ', 0.089, '0.091:0.089', 0.002], ['ZNO_Fra.csv', 'FraTestStatus', 'TerTypeName', 414, '84% :16% ', 0.089, '0.072:0.179', 0.107], ['ZNO_Fra.csv', 'FraTestStatus', 'SexTer', 414, '20% :64% :4% :12% ', 0.089, '0.098:0.064:0.059:0.22', 0.161], ['ZNO_Deu.csv', 'DeuTestStatus', 'SexTypeName', 1825, '34% :66% ', 0.114, '0.139:0.101', 0.038], ['ZNO_Deu.csv', 'DeuTestStatus', 'TerTypeName', 1825, '85% :15% ', 0.114, '0.086:0.272', 0.186], ['ZNO_Deu.csv', 'DeuTestStatus', 'SexTer', 1825, '31% :54% :3% :12% ', 0.114, '0.118:0.067:0.351:0.251', 0.284], ['ZNO_Spa.csv', 'SpaTestStatus', 'SexTypeName', 150, '26% :74% ', 0.153, '0.077:0.18', 0.103], ['ZNO_Spa.csv', 'SpaTestStatus', 'TerTypeName', 150, '85% :15% ', 0.153, '0.141:0.227', 0.087], ['ZNO_Spa.csv', 'SpaTestStatus', 'SexTer', 150, '24% :61% :2% :13% ', 0.153, '0.056:0.174:0.333:0.211', 0.277]]

In [24]:
data = pd.DataFrame(result)
data

,0,1,2,3,4,5,6,7
0,Name,Target,Protected,Number_of_records,distribution_in_groups,overall_prev,prev_(for_all_categories),prev_diff
1,ZNO_Ukr.csv,UkrTestStatus,SexTypeName,288837,48% :52%,0.073,0.107:0.043,0.064
2,ZNO_Ukr.csv,UkrTestStatus,TerTypeName,288837,75% :25%,0.073,0.063:0.104,0.041
3,ZNO_Ukr.csv,UkrTestStatus,SexTer,288837,37% :38% :11% :14%,0.073,0.091:0.036:0.156:0.061,0.12
4,ZNO_Hist.csv,HistTestStatus,SexTypeName,199373,46% :54%,0.18,0.222:0.144,0.078
5,ZNO_Hist.csv,HistTestStatus,TerTypeName,199373,70% :30%,0.18,0.17:0.202,0.032
6,ZNO_Hist.csv,HistTestStatus,SexTer,199373,33% :38% :13% :17%,0.18,0.209:0.137:0.254:0.162,0.117
7,ZNO_Math.csv,MathTestStatus,SexTypeName,244202,51% :49%,0.311,0.312:0.309,0.003
8,ZNO_Math.csv,MathTestStatus,TerTypeName,244202,75% :25%,0.311,0.281:0.398,0.116
9,ZNO_Math.csv,MathTestStatus,SexTer,244202,39% :36% :12% :13%,0.311,0.283:0.279:0.406:0.39,0.127
10,ZNO_Phys.csv,PhysTestStatus,SexTypeName,23202,85% :15%,0.083,0.079:0.106,0.027
11,ZNO_Phys.csv,PhysTestStatus,TerTypeName,23202,76% :24%,0.083,0.071:0.121,0.05
12,ZNO_Phys.csv,PhysTestStatus,SexTer,23202,64% :11% :21% :3%,0.083,0.067:0.091:0.115:0.16,0.093
13,ZNO_Chem.csv,ChemTestStatus,SexTypeName,9809,37% :63%,0.107,0.099:0.112,0.013
14,ZNO_Chem.csv,ChemTestStatus,TerTypeName,9809,78% :22%,0.107,0.093:0.156,0.064
15,ZNO_Chem.csv,ChemTestStatus,SexTer,9809,30% :48% :7% :15%,0.107,0.091:0.094:0.131:0.168,0.077
16,ZNO_Bio.csv,BioTestStatus,SexTypeName,81412,36% :64%,0.023,0.039:0.015,0.024
17,ZNO_Bio.csv,BioTestStatus,TerTypeName,81412,66% :34%,0.023,0.022:0.027,0.005
18,ZNO_Bio.csv,BioTestStatus,SexTer,81412,24% :42% :12% :22%,0.023,0.036:0.013:0.045:0.017,0.032
19,ZNO_Geo.csv,GeoTestStatus,SexTypeName,113116,52% :48%,0.054,0.064:0.043,0.021
20,ZNO_Geo.csv,GeoTestStatus,TerTypeName,113116,73% :27%,0.054,0.05:0.064,0.015
21,ZNO_Geo.csv,GeoTestStatus,SexTer,113116,39% :34% :13% :14%,0.054,0.058:0.04:0.08:0.05,0.04
22,ZNO_Eng.csv,EngTestStatus,SexTypeName,127714,49% :51%,0.106,0.118:0.095,0.023
23,ZNO_Eng.csv,EngTestStatus,TerTypeName,127714,85% :15%,0.106,0.095:0.171,0.076
24,ZNO_Eng.csv,EngTestStatus,SexTer,127714,42% :42% :7% :9%,0.106,0.107:0.082:0.184:0.16,0.102
25,ZNO_Fra.csv,FraTestStatus,SexTypeName,414,24% :76%,0.089,0.091:0.089,0.002
26,ZNO_Fra.csv,FraTestStatus,TerTypeName,414,84% :16%,0.089,0.072:0.179,0.107
27,ZNO_Fra.csv,FraTestStatus,SexTer,414,20% :64% :4% :12%,0.089,0.098:0.064:0.059:0.22,0.161
28,ZNO_Deu.csv,DeuTestStatus,SexTypeName,1825,34% :66%,0.114,0.139:0.101,0.038
29,ZNO_Deu.csv,DeuTestStatus,TerTypeName,1825,85% :15%,0.114,0.086:0.272,0.186
30,ZNO_Deu.csv,DeuTestStatus,SexTer,1825,31% :54% :3% :12%,0.114,0.118:0.067:0.351:0.251,0.284
31,ZNO_Spa.csv,SpaTestStatus,SexTypeName,150,26% :74%,0.153,0.077:0.18,0.103
32,ZNO_Spa.csv,SpaTestStatus,TerTypeName,150,85% :15%,0.153,0.141:0.227,0.087
33,ZNO_Spa.csv,SpaTestStatus,SexTer,150,24% :61% :2% :13%,0.153,0.056:0.174:0.333:0.211,0.277

In [25]:
data.to_csv('ZNO_Analytic.csv')